:root{
    --black: hsl(0, 0%, 0%);
    --black-50: hsla(0, 0%, 0%, 0.5);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(220, 14%, 75%);
    --gray-dark: hsl(219, 9%, 45%);
    --primary: hsl(26, 100%, 55%);
    --secondary: hsl(25, 100%, 94%);
    --light: hsl(223, 64%, 98%);
    --dark: hsl(220, 13%, 13%);
    --breakpoint-sm: 375px;
    --breakpoint-m: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
    --font-family-sans-serif: 'Nunito', sans-serif;
    --font-size-base: 1rem;
    --font-size-xxxl: 3rem;
    --font-size-xxl: 2rem;
    --font-size-xl: 1.5rem;
    --font-size-l: 1.25rem;
    --font-size-m: 1rem;
    --font-size-s: 0.75rem;
    --font-size-xs: 0.5rem;
    --font-size-xxs: 0.25rem;
    --product-image-1: url(../images/image-product-1.jpg);
    --product-image-2: url(../images/image-product-2.jpg);
    --product-image-3: url(../images/image-product-3.jpg);
    --product-image-4: url(../images/image-product-4.jpg);
    --product-thumbnail-1: url(../images/image-product-1-thumbnail.jpg);
    --product-thumbnail-2: url(../images/image-product-2-thumbnail.jpg);
    --product-thumbnail-3: url(../images/image-product-3-thumbnail.jpg);
    --product-thumbnail-4: url(../images/image-product-4-thumbnail.jpg);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-sans-serif);
}

h1,h2,h3,h4{
    font-weight: normal;
}
h1{
    font-size: var(--font-size-xxxl);
}
h2{
    font-size: var(--font-size-xxl);
}
h3{
    font-size: var(--font-size-xl);
}
h4{
    font-size: var(--font-size-l);
}

p{
    color: var(--gray-dark);
    line-height: 1.6rem;
}

/* Standard li style */
li {
    list-style: none;
    cursor: pointer;
    border-bottom: solid 2px var(--white);
    color: var(--gray-dark)
}
li:hover {
    border-bottom: solid 2px var(--primary);
    color: var(--dark);
}
li:active {
    animation: fadein 500ms;
}

/* Standard a style */
a {
    text-decoration: none;
    color: var(--gray-dark);
}
a:hover {
    color: var(--dark);
}

/* Standard button style */
button {
    display: inline-flex;
    justify-content: center;
    height: 3rem;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 1rem var(--secondary);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: var(--light);
    font-size: var(--font-size-m);
}
button > svg {
    fill: var(--light);
    margin-right: 0.5rem;
}
button:hover {
    opacity: 0.6;
    color: var(--white);
}
button:active {
    animation: fadein 500ms;
}

/* Image sytle */
img {
    object-fit: cover;
}
@media screen and (max-width: 600px) {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Height */
.height-1 {
    height: 1rem;
}
.height-2 {
    height: 2rem;
}
.height-3 {
    height: 3rem;
}
.height-4 {
    height: 4rem;
}
.height-5 {
    height: 5rem;
}
.height-100 {
    height: 100%;
}
.height-all {
    height: 100vh
}
@media screen and (max-width: 600px) {
    .height-all {
        height: 100%;
    }
}

/* Z index */
.z-900 {
    z-index: 900;
}

/* Position */
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.position-fixed {
    position: fixed;
}
.position-sticky {
    position: sticky;
}
.position-static {
    position: static;
}

/* Top */
.top-0 {
    top: 0;
}
.top-1 {
    top: 1rem;
}

/* Bottom */
.bottom-0 {
    bottom: 0;
}
.bottom-1 {
    bottom: 1rem;
}

/* Left */
.left-0 {
    left: 0;
}
.left-1 {
    left: 1rem;
}

/* Right */
.right-0 {
    right: 0;
}

/* Border ouline */
.border-1 {
    border: 1px solid var(--gray);
}
.border-2 {
    border: 2px solid var(--gray);
}
.border-bottom-1 {
    border-bottom: 1px solid var(--gray);
}
.border-bottom-2 {
    border-bottom: 2px solid var(--gray);
}

/* Border radius */
.border-radius-std {
    border-radius: 0.25rem;
}
.border-radius-1 {
    border-radius: 1rem;
}
.border-radius-2 {
    border-radius: 2rem;
}
.border-radius-3 {
    border-radius: 3rem;
}
.border-top-radius-std {
    border-radius: 0.25rem 0.25rem 0 0;
}
.border-bottom-radius-std {
    border-radius: 0 0 0.25rem 0.25rem;
}

/* Flex wrap */
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}

/* Max width */
.max-width-30 {
    max-width: 2rem;
}

.max-width-40 {
    max-width: 2.5rem;
}
.max-width-60 {
    max-width: 3.75rem;
}
.max-width-100 {
    max-width: 6.25rem;
}
.max-width-200 {
    max-width: 12.5rem;
}
.max-width-300 {
    max-width: 18.75rem;
}
.max-width-400 {
    max-width: 25rem;
}
.max-width-500 {
    max-width: 31.25rem;
}

/* Rotage 20deg by hover */
.rotate-20 {
    transition: all 500ms ease-in-out;
}
.rotate-20:hover {
    transform: rotate(20deg);
}

/* Rotage 600deg by hover */
.rotate-60 {
    transition: all 500ms ease-in-out;
}
.rotate-60:hover {
    transform: rotate(60deg);
}